
@media screen and (max-width: 390px){
    .power h1{
        text-align: center;
        font-size: 30px;
        width: 350px;
    }
    .infosend input {
      width: 110%;
      padding: 8px;
      margin-top: 12px;
      height: 60px;
    }
    
    
    }



  @media screen and (max-width: 414px){
    
    .hero-products{
      margin-top: 70px;
    }

    .nav{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      /* background-color: #fff; */
      z-index: 4;
    
    }
    #navmenu{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top:110px;
      right: -600px;
      width: 300px;
      height: 100vh;
      background: white;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 40px 0 0 10px;
      transition: 0.3s ease-in-out;
      margin-right:320px ;
      margin-top: -50px;
    }
    #navmenu.active{
      right: 0px;
    }
  
    #navmenu li{
      margin-bottom: 25px;
    }
     
    .navmobile{
      display: block;
      margin-right:250px ;
    }

    .power h1{
      text-align: center;
      font-size: 34px;
      width: 380px;
    }
    
    /* MODAL FEATURES START */
  .features {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  
  .modal-features {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    height: 260px;
    position: relative;
    border-radius:20px ;
    margin-right: 340px;
    margin-bottom: 700px;
  }
  
  .modal-features img{
    width: 320px;
    height: 220px;
    object-fit: contain;
  
    
    
  }
   .modal-features  .closefeatures {
    position: absolute;
    top: 225px;
    right: 125px;
    padding: 6px 15px;
    cursor: pointer;
    
    z-index: 1;
    border-radius: 50px;
    width: 100px;
    outline: none;
    border: none;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background:white;
    border: gray 1px solid;
    color: gray ;
  
  }
  
  
  .modal-features  .closefeatures:hover{
    background-color: #448108;
    color: aliceblue;
  }
  
  /* MODAL FUTURES eND */
  
  
  
  /* MODAL INQUIRY START */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 360px;
    height: 400px;
    margin-right: 350px;
    margin-bottom: 1000px;
   
  }
  .popupinquiry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .popupinquiry h2{
    font-size: 15px;
    color: #448108;
    font-family: 'Times New Roman', Times, serif;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  
  .popupinquiry .closequiry {
    position: absolute;
    top: 455px;
    right: 120px;
    padding: 8px 12px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50px;
    width: 100px;
    font-weight: 500;
    outline: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    background:white;
    border: gray 1px solid;
    color: gray ;
  }
  
  .popupinquiry .closetext {
    
    position: absolute;
    top: 400px;
    left: 10px;
    z-index: 1;
    width: 370px;
    font-weight: 900;
    outline: none;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    
  }
  .popupinquiry .closequiry:hover{
    background-color: #448108;
    color: aliceblue;
  
  }
  
  .penbox{
    display: flex;
    margin-top: 25px;
    border: none;
  }
  .penbox img {
    width: 13px;
    height: 13px;
   
  }
  
  .penbox h5{
    font-weight: 300;
    font-family: sans-serif;
  }
  
  .popupinquiry textarea{
    font-family: sans-serif;
    margin-top: 10px;
    width: 290px;
    height: 110px;
  }
  
  .infosend{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .infosend h6{
    font-weight: 300;
    font-family: sans-serif;
    margin-top: 10px;
  }
  
  .infosend input {
    width: 90%;
    padding: 8px;
    margin-top: 10px;
  }
  .infosend div .message{
  border: none;
    cursor: pointer;
    margin-top:10px;
  background: #fff;
  width: 100px;
  
  }
  .infosend div .message:hover{
  color: #42484e;
  background: none;
  }
  
  .infosend img{
    width: 18px;
    height: 18px;
  
  }
  
  
  .modal-content h3{
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 20px;
  }
  
  }


  @media screen and (max-width: 430px){
    
    .hero-products{
      margin-top: 70px;
    }

    
    
    #navmenu{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top:110px;
      right: -600px;
      width: 300px;
      height: 100vh;
      background: white;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 40px 0 0 10px;
      transition: 0.3s ease-in-out;
      margin-right:320px ;
      margin-top: -50px;
    }
    #navmenu.active{
      right: 0px;
    }
  
    #navmenu li{
      margin-bottom: 25px;
    }
     
    .navmobile{
      display: block;
      margin-right:250px ;
    }

    .power h1{
      text-align: center;
      font-size: 34px;
      width: 380px;
    }
    
    /* MODAL FEATURES START */
  .features {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  
  .modal-features {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    height: 260px;
    position: relative;
    border-radius:20px ;
    margin-right: 340px;
    margin-bottom: 700px;
  }
  
  .modal-features img{
    width: 320px;
    height: 220px;
    object-fit: contain;
  
    
    
  }
   .modal-features  .closefeatures {
    position: absolute;
    top: 225px;
    right: 125px;
    padding: 6px 15px;
    cursor: pointer;
    
    z-index: 1;
    border-radius: 50px;
    width: 100px;
    outline: none;
    border: none;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background:white;
    border: gray 1px solid;
    color: gray ;
  
  }
  
  
  .modal-features  .closefeatures:hover{
    background-color: #448108;
    color: aliceblue;
  }
  
  /* MODAL FUTURES eND */
  
  
  
  /* MODAL INQUIRY START */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 360px;
    height: 400px;
    margin-right: 350px;
    margin-bottom: 1000px;
   
  }
  .popupinquiry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .popupinquiry h2{
    font-size: 15px;
    color: #448108;
    font-family: 'Times New Roman', Times, serif;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  
  .popupinquiry .closequiry {
    position: absolute;
    top: 455px;
    right: 120px;
    padding: 8px 12px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50px;
    width: 100px;
    font-weight: 500;
    outline: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    background:white;
    border: gray 1px solid;
    color: gray ;
  }
  
  .popupinquiry .closetext {
    
    position: absolute;
    top: 400px;
    left: 10px;
    z-index: 1;
    width: 370px;
    font-weight: 900;
    outline: none;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    
  }
  .popupinquiry .closequiry:hover{
    background-color: #448108;
    color: aliceblue;
  
  }
  
  .penbox{
    display: flex;
    margin-top: 25px;
    border: none;
  }
  .penbox img {
    width: 13px;
    height: 13px;
   
  }
  
  .penbox h5{
    font-weight: 300;
    font-family: sans-serif;
  }
  
  .popupinquiry textarea{
    font-family: sans-serif;
    margin-top: 10px;
    width: 290px;
    height: 100px;
  }
  
  .infosend{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .infosend h6{
    font-weight: 300;
    font-family: sans-serif;
    margin-top: 10px;
  }
  
  .infosend input {
    width: 90%;
    padding: 8px;
    margin-top: 10px;
  }
  .infosend div .message{
  border: none;
    cursor: pointer;
    margin-top:10px;
  background: #fff;
  width: 100px;
  
  }
  .infosend div .message:hover{
  color: #42484e;
  background: none;
  }
  
  .infosend img{
    width: 18px;
    height: 18px;
  
  }
  
  
  .modal-content h3{
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 20px;
  }
  
  }




  @media screen and (max-width: 375px){
    .hero-products{
   margin-top: 70px;
    }

    .navmobile{
      display: block;
      margin-right:265px ;
    }
    .modal-content {
      margin-bottom: 730px;
    }
    .infosend input {
      width: 85%;
      padding: 8px;
      margin-top: 10px;
    }
    .popupinquiry textarea{
      font-family: sans-serif;
      margin-top: 10px;
      width: 290px;
      height: 100px;
    }
  }