@media screen and (max-width: 414px){
  .nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:red;
    z-index: 4;
  
  }
  .navlogo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #1b2430; */
    padding: 5px 10px;
    box-shadow: transparent;
    cursor: pointer;
  }
  
  .navlogo img{
    height: 70px;
    width: 70px;
  }
  
  #navmenu{
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  
  #navmenu li {
    list-style: none;
    padding: 0 20px;
    position: relative;
  }
  
  #navmenu li{
    text-decoration: none;
    font-size: 18px;
  
    color: black;
    transition:0.3s ease-in-out ;
    cursor: pointer;
  
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #448108;
  }
  #navmenu li:hover {
    color: #448108;
    font-weight: 500;
  }
  /* NAV END */


  /* HERO START MOBILE */

  
    .power h1{
        text-align: center;
        font-size: 35px;
        width: 450px;
      }
      
      /* MODAL FEATURES START */
    
    
    .modal-features {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      width: 380px;
      height: 270px;
      position: relative;
      border-radius:20px ;
      margin-right: 140px;
    
    }
    
    .modal-features img{
      width: 350px;
      height: 310px;
      object-fit: contain;
      
      
    }
     .modal-features  .closefeatures {
      position: absolute;
      top: 239px;
      right: 150px;
      padding: 8px 15px;
      cursor: pointer;
      
      z-index: 1;
      border-radius: 50px;
      width: 100px;
      outline: none;
      border: none;
      font-size: 10px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
      background:white;
      border: gray 1px solid;
      color: gray ;
    
    }
    
    
    .modal-features  .closefeatures:hover{
      background-color: #448108;
      color: aliceblue;
    }
    
    /* MODAL FUTURES eND */
    
    
    
    /* MODAL INQUIRY START */
    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
    }
    
    .modal-content {
      background-color: #fff;
      padding: 20px;
      position: relative;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      width: 400px;
      height: 400px;
      margin-right: 150px;
      margin-top: 200px;
     
    }
    .popupinquiry{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .popupinquiry h2{
      font-size: 20px;
      color: #448108;
      font-family: 'Times New Roman', Times, serif;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-style: normal;
    }
    
    
    .popupinquiry .closequiry {
      position: absolute;
      top: 455px;
      right: 165px;
      padding: 8px 12px;
      cursor: pointer;
      z-index: 1;
      border-radius: 50px;
      width: 100px;
      font-weight: 500;
      outline: none;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-style: normal;
      background:white;
      border: gray 1px solid;
      color: gray ;
    }
    
    .popupinquiry .closetext {
      
      position: absolute;
      top: 400px;
      left: 27px;
      z-index: 1;
      width: 450px;
      font-weight: 900;
      outline: none;
      font-size: 12px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-style: normal;
      color: #fff;
      
    }
    .popupinquiry .closequiry:hover{
      background-color: #448108;
      color: aliceblue;
    
    }
    
    .penbox{
      display: flex;
      margin-top: 25px;
      border: none;
    }
    .penbox img {
      width: 13px;
      height: 13px;
     
    }
    
    .penbox h5{
      font-weight: 300;
      font-family: sans-serif;
    }
    
    .popupinquiry textarea{
      font-family: sans-serif;
      margin-top: 10px;
      width: 300px;
      height: 120px;
    }
    
    .infosend{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .infosend h6{
      font-weight: 300;
      font-family: sans-serif;
      margin-top: 10px;
    }
    
    .infosend input {
      width: 110%;
      padding: 8px;
      margin-top: 10px;
    }
    .infosend div .message{
    border: none;
      cursor: pointer;
      margin-top:10px;
    background: #fff;
    width: 100px;
    
    }
    .infosend div .message:hover{
    color: #42484e;
    background: none;
    }
    
    .infosend img{
      width: 18px;
      height: 18px;
    
    }
    .modal-content h3{
      font-weight: 800;
      font-family: 'Times New Roman', Times, serif;
      font-size: 15px;
      margin-top: 20px;
    }
    }
    /*media queries  end*/

    /* HERO END MOBILE */


    /* ABOUT START */
    .about {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
     
    }
    
    .modal-about{
      background-color: #fff;
      padding: 20px;
      width: 400px;
      height: 550px;
      position: relative;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 20px;
     margin-left: 7px;
      z-index: 5;
    }
    
    .modal-about h2{
    font-family: 'Times New Roman', Times, serif;
    color: #448108;
    font-weight: 900;
    margin-bottom: -50px;
    font-size: 17px;
    } 
    
    .modal-about  .close {
      position: absolute;
      top: 480px;
      right: -20px;
      padding: 8px 15px;
      cursor: pointer;
      z-index: 1;
      border-radius: 50px;
      color: #63666A;
      outline: none;
      font-weight: 400;
      font-size: 17px;
      border: gray 1px solid;
      width: 130px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      background:white;
      border:#63666A 1px solid;
    }
    
    
    .about-paragraph{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      line-height: 16px;
      z-index: 5;
      margin: 50px 50px;
    }
    
    .about-paragraph p{
      font-weight: 100;
      font-size: 7px;
      margin-top: 20px;
      color: #1b1b1b;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    
    /* MODAL END */
      
    
    /* about us end */

    /* ABOUT END */
