*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    text-decoration: none;
    list-style: none;
}
.navbar{
    height: 10vh;
    line-height: 10vh;
    box-shadow: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.logo img{
    width: 70px;
    height: 70px;
    margin-left: 10px;

}

.nav-links{
    display: flex;
    justify-content: flex-end;
    width: 75%;
}


.nav-links li{
    color: black;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;

    
}

.button{
    border: none;
    background: none;
    font-size: 20px;
}

.mobile-menu-icon{
    display: none;
}

@media (max-width: 769px) {
    .logo img{
        align-items: center;
        margin-top: 25px;
    }
    
    .nav-links {
        display: none;
        transition: 0.3s ease-in-out;
     
    }
    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        box-shadow: transparent;
        left: 0;
        top: 10%;
        transition: all 0.5s ease-in-out;
        width: 100%;
        background-color:transparent;
        
    }
    ul li {
        padding: 32px;
        width: 100%;
      
        text-align: center;
        line-height: 5px;
    }
    .mobile-menu-icon{
        position: absolute;
        display: block;
        right: 20px;
        align-items: center;
    }
}