body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont,  'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Roboto';
  
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* NAV START */
.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: #fff; */
  z-index: 4;

}
.navlogo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #1b2430; */
  padding: 5px 80px;
  box-shadow: transparent;
  cursor: pointer;
}

.navlogo img{
  height: 70px;
  width: 70px;
}

#navmenu{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navmenu li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navmenu li{
  text-decoration: none;
  font-size: 18px;

  color: black;
  transition:0.3s ease-in-out ;
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #448108;
}
#navmenu li:hover {
  color: #448108;
  font-weight: 500;
}


.navmobile{
  display: none;
}

/* NAV END */

/* MEADIA QUERIES START */
@media screen and (max-width:769px) {
  #navmenu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top:110px;
    right: -300px;
    width: 250px;
    height: 100vh;
    background: white;
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }
  #navmenu.active{
    right: 0px;
  }

  #navmenu li{
    margin-bottom: 25px;
  }
   
  .navmobile{
    display: block;
  }

}

/* @media screen and (max-width:496px){
  #navmenu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top:110px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
 
  
  }

  .navlogo img{
    margin-left: -80px;

  }
  .navmobile{
    display: block;

  }

  
} */

/* MEADIA QUERIES END */

/* HERO START */

.hero-products{
  display: flex;
  justify-content: space-around;
  margin-top: 180px;
 
  /* margin: 60px 140px 0px 140px; */
 
}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  margin-top: 60px;
}

.power  h1{
  color: black;
  font-size: 70px;
  width: 600px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #448108;
}

.power p {
  font-weight: 100;
  font-size: 20px;
  color: grey;
  
}
.power h4{
  font-size: 20px;

  margin-top: 10px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  
}

.herobutton{
  display: flex;
  justify-content: space-between;
}
 .herofeautures {
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  width: 250px;
  background:white;
  border: gray 1px solid;
  color: gray ;;
  cursor: pointer;
  margin-top: 30px;
  outline: none;
  /* border: none; */
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

}
 .herofeautures:hover{
  background-color: #448108;
  color: aliceblue;

}

/* MODAL FEATURES START */
.features {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal-features {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 900px;
  height: 500px;
  position: relative;
  border-radius:20px ;
}

.modal-features img{
  width: 850px;
  height: 480px;
  object-fit: contain;
  
}
.modal-features  .closefeatures {
  position: absolute;
  top: 445px;
  right: 350px;
  padding: 15px 25px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50px;
 
  width: 200px;
  font-weight: 900;
  outline: none;
  border: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background:white;
  border: gray 1px solid;
  color: gray ;

}

.modal-features   .closefeatures:hover{
  background-color: #448108;
  color: aliceblue;
}

/* MODAL FUTURES eND */



 .heroinquiry {
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  width: 200px;
  cursor: pointer;
  margin-top: 30px;
  font-weight: 700;
  outline: none;
  border: none;
  margin-left: 10px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background:white;
  border: gray 1px solid;
  color: gray ;

}
.hero-products .hero .heroinquiry:hover{
  background-color: #448108;
  color: aliceblue;
}


/* MODAL INQUIRY START */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 900px;
  height: 410px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.popupinquiry{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popupinquiry h2{
  font-size: 27px;
  color: #448108;
  font-family: 'Times New Roman', Times, serif;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.popupinquiry .closequiry {
  /* position: absolute;
  top: 430px;
  right: 380px;
  padding: 10px 30px;
  cursor: pointer;
  z-index: 1;
  border-radius: 10px;
  background: white;
  color: gray; */

  position: absolute;
  top: 450px;
  right: 350px;
  padding: 15px 25px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50px;

  width: 200px;
  font-weight: 900;
  outline: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background:white;
  border: gray 1px solid;
  color: gray ;
}

.popupinquiry .closetext {
  
  position: absolute;
  top: 400px;
  right: 30px;
  z-index: 1;
  border-radius: 50px;
  width: 820px;
  font-weight: 900;
  outline: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  
}
.popupinquiry .closequiry:hover{
  background-color: #448108;
  color: aliceblue;
}

.penbox{
  display: flex;
  margin-top: 25px;
}
.penbox img {
  width: 13px;
  height: 13px;
}

.penbox h5{
  font-weight: 300;
  font-family: sans-serif;
}

.popupinquiry textarea{
  font-family: sans-serif;
  margin-top: 10px;
}

.infosend{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.infosend h6{
  font-weight: 300;
  font-family: sans-serif;
  margin-top: 10px;
}

.infosend input {
  width: 150%;
  padding: 8px;
  margin-top: 10px;
}

.infosend button{
  border: none;
  cursor: pointer;
  margin-top:10px;
background: #fff;

}

.infosend img{
  width: 18px;
  height: 18px;

}


.modal-content h3{
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  margin-top: 20px;
 
}

/* MODAL INQUIRY START */

/* ANIMATIOM IMAGE */

.imgs {
  position: relative;
  width: 500px; /* adjust as needed */
  height: 300px; /* adjust as needed */
}
 .background-image {
  position: absolute;
  top: 60px;
  right:10px;
  width: 150%;
  height: 150%;
  z-index: 1; /* lower z-index to place it behind */
  /* background-image: url('VC@2X.jpg'); path to background image */
  background-size: cover; /* adjust as needed */
}

 .imgs .foreground-image {
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
  width: 500px;
  height: 550px;
  object-fit: contain;
  position: absolute;
 
  z-index: 2; /* higher z-index to place it in front */
}

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

/* HERO END */



/*media queries  start*/
@media screen and (max-width:769px) {

  .navmobile{
    display: block;
    margin-right:130px ;
  }
  #navmenu{
    margin-right:150px ;
    /* right: -600px; */
    margin-top: -25px;
  }
  #navmenu li {
    line-height: 30px;
  }
 
  .hero-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 60px 140px 0px 140px; */
  }

  .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
  }
.power h1{
    text-align: center;
    font-size: 55px;
  }
  .power p {
   text-align: center;
  }
  .power h4{
   text-align: center;
  }

  .herofeautures {
    padding: 10px;
    background:white;
    color: gray;
    border: 1px solid gray;
    width: 160px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 

  /* images */
  .imgs {
    position: relative;
    width: 500px; /* adjust as needed */
    height: 300px; /* adjust as needed */
    margin-top: 50px;
  }
   .background-image {
    position: absolute;
    top: 85px;
    right:10px;
    width: 120%;
    height: 130%;
    z-index: 1; /* lower z-index to place it behind */
    /* background-image: url('VC@2X.jpg'); path to background image */
    background-size: cover; /* adjust as needed */
  }
  
  .imgs .foreground-image {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
    width: 450px;
    height: 500px;
    object-fit: contain;
    position: absolute;
   
    left: 20px;
   align-items: center;
    z-index: 2; /* higher z-index to place it in front */
  }
  
  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }

  
 
 .heroinquiry {
    padding: 11px 25px;
    border: none;
    border-radius: 50px;
    width: 180px;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 700;
    outline: none;
    border: none;
    margin-left: 10px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background:white;
    border: gray 1px solid;
    color: gray ;
  
  }
.heroinquiry:hover{
    background-color: #448108;
    color: aliceblue;
  }


  /* MODAL FEATURES START */
.features {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal-features {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 700px;
  height: 400px;
  position: relative;
  border-radius:20px ;

  margin-bottom: 350px;
  
}

.modal-features img{
  width: 660px;
  height: 380px;
  object-fit: contain;
  
}
 .modal-features .closefeatures {
  position: absolute;
  top: 355px;
  right: 260px;
  padding: 11px 25px;
  cursor: pointer;
  
  z-index: 1;
  border-radius: 50px;
  width: 150px;
  outline: none;
  border: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background:white;
  border: gray 1px solid;
  color: gray ;

}


.modal-features  .closefeatures:hover{
  background-color: #448108;
  color: aliceblue;
}

/* MODAL FUTURES eND */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 700px;
  height: 400px;

  margin-top: 200px;
}
.popupinquiry{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popupinquiry h2{
  font-size: 27px;
  color: #448108;
  font-family: 'Times New Roman', Times, serif;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}


.popupinquiry img{
  width: 850px;
  height: 500px;
  object-fit: contain;
  
}
.popupinquiry .closequiry {
  position: absolute;
  top: 450px;
  right: 270px;
  padding: 11px 25px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50px;
  width: 150px;
  font-weight: 900;
  outline: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background:white;
  border: gray 1px solid;
  color: gray ;
}

.popupinquiry .closetext {
  
  position: absolute;
  top: 400px;
  left: 3px;
  z-index: 1;
  border-radius: 50px;
  width: 820px;
  font-weight: 900;
  outline: none;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  
}
.popupinquiry .closequiry:hover{
  background-color: #448108;
  color: aliceblue;

}

.penbox{
  display: flex;
  margin-top: 25px;
  border: none;
}
.penbox img {
  width: 13px;
  height: 13px;
 
}

.penbox h5{
  font-weight: 300;
  font-family: sans-serif;
}

.popupinquiry textarea{
  font-family: sans-serif;
  margin-top: 10px;
  height: 140px;
}

.infosend{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.infosend h6{
  font-weight: 300;
  font-family: sans-serif;
  margin-top: 10px;
}

.infosend input {
  width: 150%;
  padding: 8px;
  margin-top: 10px;

}
.infosend div .message{
border: none;
  cursor: pointer;
  margin-top:10px;
background: #fff;
width: 100px;

}
.infosend div .message:hover{
color: #42484e;
background: none;
}

.infosend img{
  width: 18px;
  height: 18px;

}


.modal-content h3{
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  margin-top: 20px;
 
}

/* MODAL INQUIRY START */

}



/* about us start */
.aboutcontainer{
  background-image: url('./assets/background.png'); /* Path to your background image */
  background-size: cover; /* Adjust as needed */
  width: auto;
  height: 600px;
  margin-top: 220px;
  
}

.aboutdetails{
  display: flex;
  justify-content: space-evenly;
  margin-left: 150px;
  margin-right: 250px;
}
.aboutdetails img{
  width: 700px;
  height: 700px;
  object-fit: contain;
}

.aboutinfo{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content:center;

}

.aboutinfo h3{
  font-size: 40px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.aboutinfo h4{
  font-weight: 400;
  color: #63666A;
  line-height: 40px;
  width: 500px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;

}

.aboutinfo button{
  width: 200px;
  padding: 15px 25px;
  align-self: flex-end;
  border-radius: 50px;
  cursor: pointer;
  color: #63666A;
  margin-bottom: 60px;
  outline: none;
  margin-right: 75px;
  border: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background:white;
  border:#63666A 1px solid;
}
.aboutinfo button:hover{
  color: white;
  background: #448108;
}
/* 
MODAL START */
.about {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.modal-about{
  background-color: #fff;
  padding: 20px;

  width: 1100px;
  height: 520px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
}

.modal-about h2{
font-family: 'Times New Roman', Times, serif;
color: #448108;
font-weight: 900;
margin-bottom: -50px;
} 



.modal-about  .close {
  position: absolute;
  top: 465px;
  right: 380px;
  padding: 15px 25px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50px;
  color: #63666A;
  outline: none;
  font-weight: 400;
  font-size: 17px;
  border: gray 1px solid;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background:white;
  border:#63666A 1px solid;
}


.about-paragraph{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  line-height: 21px;

  margin: 50px 50px;
}

.about-paragraph p{
  font-weight: 100;
  font-size: 14px;
  margin-top: 20px;
  color: #1b1b1b;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

}
/* MODAL END */

/* MEDIA QUERIES START */

/* MEDIA QUERIES END*/
@media screen and (max-width:769px) {
  .aboutcontainer{
    background-image: url('./assets/background.png'); /* Path to your background image */
    background-size: cover; /* Adjust as needed */
    width: auto;
    height: 1030px;
    
  }
 
  
  .aboutdetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .aboutdetails img{
    width: 570px;
    height:570px;
    object-fit: contain;
    margin-bottom: -80px;
  }
  
  .aboutinfo{
    vertical-align: text-top;
   margin: 0px 0px 10px 105px;
    
  }
  .aboutinfo h3{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
  }
  .aboutinfo h4{
    font-weight: 400;
    color: #63666A;
    line-height: 40px;
    width: 500px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
  
  }
  
  .aboutinfo button{
    width: 200px;
    padding: 15px 25px;
    align-self: flex-end;
    border-radius: 50px;
    cursor: pointer;
    color: #63666A;
    margin-bottom: 60px;
    outline: none;
    border: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background:white;
    border:#63666A 1px solid;
    margin-right: 160px;
    margin-top: 10px;
  }
  .aboutinfo button:hover{
    color: white;
    background: #448108;
  }
 
  
  .unknown{
    margin-bottom: 100px;
  }

 /* MODAL START */
.about {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.modal-about{
  background-color: #fff;
  padding: 20px;
  width: 750px;
  height: 550px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;

  z-index: 5;
}

.modal-about h2{
font-family: 'Times New Roman', Times, serif;
color: #448108;
font-weight: 900;
margin-bottom: -50px;
} 

.modal-about  .close {
  position: absolute;
  top: 480px;
  right: 120px;
  padding: 15px 25px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50px;
  color: #63666A;
  outline: none;
  font-weight: 400;
  font-size: 17px;
  border: gray 1px solid;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background:white;
  border:#63666A 1px solid;
}


.about-paragraph{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  line-height: 18px;
  z-index: 5;
  margin: 50px 50px;
}

.about-paragraph p{
  font-weight: 100;
  font-size: 14px;
  margin-top: 20px;
  color: #1b1b1b;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

}
/* MODAL END */
  
}
/* about us end */


/* SERVICE START */
.servicecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 80px 100px;
}

.servicecontainer h1{
  font-size: 35px;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.servicecontainer .service{
  display: grid;
  grid-template-columns: 1fr 1fr;


}
.item{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-left: 50px;
}
.item:hover{
  transform: scale(1.05);
  transition: 0.6;
}

.item img{
  width: 80px;
  height: 70px;
  object-fit: contain;

}

.info{
  width: 400px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.info h4{
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 1px;
color: #42484e;
font-family: "Roboto", sans-serif;
font-weight: 600;
font-style: normal;
 
}

.info p{
  font-size: 12px;
  color: #63666A;
  line-height: 25px;
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 10px;
}

/* SERVICE END*/

@media screen and (max-width: 768px) {
  .navmobile{
    display: block;
    margin-right: -15px;
  }
   
  #navmenu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top:110px;
    right: -600px;
    width: 300px;
    height: 100vh;
    background: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
    margin-right:5px ;
    margin-top: -30px;
  }
  #navmenu.active{
    right: 0px;
  }
 
.servicecontainer .service{
  display: grid;
  grid-template-columns: 1fr;
}
}

/* Contact Us start */
.contact-container{
  background-image: url('./assets/bg-contact.png'); /* Path to your background image */
  background-size: cover; /* Adjust as needed */
  width: auto;
  height: 800px;
 
}
.contact-container .contact{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.contact-container .contact h2{
  margin-top: 200px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 30px;
}

.contact-container .contact h4{
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  font-size: 20px;
}
.contact-container .contact p{
 color: #fff;
 font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 15px;
}

.contact-container .contact h5{
  margin-top: 50px;
  color: #fff;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
}

.contact-container .contact button {
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  width: 250px;
  background-color: rgba(128, 128, 128, 0.5);
  border: gray 1px solid;
  color: #fff;
  cursor: pointer;
  margin-top: 30px;
  outline: none;
  /* border: none; */
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contact-container .contact button:hover{
  background: #448108;
}

.logoqrx{
  display: flex;
  margin-top: 270px;
}

.contact .logoqrx h3{

 color: #fff;
font-size: 14px;
font-family: "Roboto", sans-serif;
font-weight: 600;
font-style: normal;
margin-top: 18px;
}
 .contact .logoqrx img{
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-left:5px ;

}
.contact .logoqrx span{
color: #448108;
font-size: 14px;
font-family: "Roboto", sans-serif;
font-weight: 600;
font-style: normal;
margin-top: 18px;

}


a{
  list-style: none;
}
/* Contact Us end */